@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #191816;
}

header {
    position: absolute;
    top: 2.5rem;
    left: 1.25rem;
}

.container {
    position: absolute;
    top: 6.125rem;
    width: 100vw;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    gap: 0.7rem;
    color: #D4CCB6;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    margin: 0 auto;
    width: 20rem;
}

.subtitle {
    color: #AFB6C2;
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    padding-bottom: 1.7rem;
    margin: 0 auto;
}

#form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#form label {
    color: #AFB6C2;
    font-weight: 500;
    font-size: 15px;
}

#email, .senha {
    border-radius: 4px;
    width: 20rem;
    padding: 0.75rem 0.75rem 0.75rem 2.5rem;
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 0.75rem;
    margin-bottom: 1.25rem;
}

#email {
    background-color: transparent;
    background-image: url(./assets/images/mail.svg);
    border: solid #868686 1px;
    color: #AFB6C2;
}

.senha {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-image: url(./assets/images/lock.svg);
    z-index: 1;
}

#senha {
    position: absolute;
    left: 50%;
    margin: 0 0 0 -10rem;
    background-color: transparent;
    border: solid 1px #868686;
    padding: 0.75rem 0.75rem 0.75rem 2.5rem;
    border-radius: 4px;
    line-height: 0;
    width: 20rem;
    z-index: 2;
    color: #AFB6C2;
}

#email:focus, #senha:focus {
    outline: solid #FFC632 2px;
    color: #AFB6C2;
}

#email:focus {
    background-image: url(./assets/images/mail-focus.svg);
}

#senha:focus {
    background-image: url(./assets/images/lock-focus.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 0.68rem;
}

.eye {
    background-color: transparent;
    padding: 0;
    border: none;
    line-height: 0;
    z-index: 100;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #868686;
    font-size: 14px;
    font-weight: 400;
    width: 20rem;
    margin-bottom: 1.25rem;
}

.checkbox-container div {
    display: flex;
    align-items: center;

}

.checkbox-container a {
    text-decoration: none;
    color: #FFC632;
}

input[type=checkbox] {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0 0.5rem 0 0;
    position: relative;
    cursor: pointer;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    top: 0;
    left: 0;
    background-color:#191816;
    border: solid #868686 1px;
    border-radius: 4px;
}

input[type=checkbox]:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    top: 0;
    left: 0;
    border: solid #FFC632 1px;
    background-color: #FFC632;
    background-image: url(./assets/images/check.svg);
}

button[type=submit] {
    padding: 1px 24px;
    width: 20rem;
    height: 51px;
    background-color: #FFC632;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    color: #473404;
    text-transform: uppercase;
    margin-bottom: 1.25rem;
}

.registre {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
}

.registre a {
    text-decoration: none;
    color: #FFC632;
    font-size: 14px;
}

@media (max-width: 320px) {
    .container {
        width: 100vw;
        padding-left: 8px;
    }

    #email, .senha, #senha, .checkbox-container, button[type=submit], .registre {
        width: 95vw;
    }

    #senha {
        margin: 0;
        left: 8px;
    }

    #form {
        margin: 0;
    }
}

@media (min-width: 481px) {
    .container {
        width: 80%;
        top: 20%;
        left: 10%;
        background-color: #24221F;
        border-radius: 4px;
        padding: 55px 120px 55px 120px;
    }

    #senha {
        left: 50%;
        margin: 0 0 0 -10rem;
    }

    input[type=checkbox]:before {
        background-color: #24221F;
    }
}

@media (min-width: 1025px) {
    body {
        background-image: url(./assets/images/side-image.jpg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 50%;
    }

    .container {
        width: 40%;
        top: 20%;
        left: 5%;
        background-color: #24221F;
        border-radius: 4px;
        padding: 55px 0 55px 0;
    }

    #form {
        margin: 0 auto;
    }

    #senha {
        left: 50%;
        margin: 0 0 0 -10rem;
    }

    input[type=checkbox]:before {
        background-color: #24221F;
    }
}